/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/**** MOBILE ****/

/****** Global Styles ******/


html {
  background-color: #fff;
  font-size: 16px;
  margin: 0;
  max-width: 100%;
  overflow-x:hidden;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  overflow-x:hidden;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
}

h2 {
  color: #6099b7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

h4 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}

h5 {
  color: #6099b7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 0;
  max-width: 100%;
  padding: 0;
  text-align: center;
}

.content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding-bottom: 3em;
}

img{
  max-width: 100%;
}

figure {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
}

article {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
}

/* Header Style */

 header {
   align-items: center;
   background: url('../img/llama-snow-mountains.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-flow: column;
   justify-content: center;
   width: 100%;
   padding-bottom: 10em;
 }

nav {
  align-self: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  max-width: 100%;
  padding: .5em 0;
}

nav ul {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style-type:none;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  align-self: center;
  background: rgb(252,252,252);
  background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(252,252,252,0.5046393557422969) 50%, rgba(252,252,252,0.5046393557422969) 100%);
  top: 0;
  z-index: 2;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: 2px solid #6099b7;
  border-radius: 0.6em;
  color: #6099b7;
  cursor: pointer;
  font-family: 'berkshire swash', sans-serif;
  font-size: .8rem;
  margin: .4em;
  padding: .1em .5em;
  text-align: center;
  text-decoration: none;
}

.btn:hover, .btn:focus {
  color: #6099b7;
  outline: 0;
}

.first {
  border-color: #6099b7;
  box-shadow: 0 0 1.2em 1.2em #6099b7 inset, 0 0 0 0 #6099b7;
  color: #fff;
  transition: all 150ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 .5em 0 #6099b7 inset, 0 0 .8em .3em #6099b7;
  color: #6099b7;
  outline: 0;
}

.second {
  border-color: #6099b7;
  box-shadow: 0 0 1.2em 1.2em #6099b7 inset, 0 0 0 0 #6099b7;
  color: #fff;
  padding: .1em 1em;
  transition: all 150ms ease-in-out;
}

.second:hover {
  box-shadow: 0 0 .5em 0 #6099b7 inset, 0 0 .8em .3em #6099b7;
  color: #6099b7;
  outline: 0;
}

.third {
  border-color: #6099b7;
  box-shadow: 0 0 1.2em 1.2em #6099b7 inset, 0 0 0 0 #6099b7;
  color: #fff;
  padding: .1em .7em;
  transition: all 150ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 .5em 0 #6099b7 inset, 0 0 .8em .3em #6099b7;
  color: #6099b7;
  outline: 0;
}

.fourth {
  border-color: #6099b7;
  box-shadow: 0 0 1.2em 1.2em #6099b7 inset, 0 0 0 0 #6099b7;
  color: #fff;
  transition: all 150ms ease-in-out;
}

.fourth:hover {
  box-shadow: 0 0 .5em 0 #6099b7 inset, 0 0 .8em .3em #6099b7;
  color: #6099b7;
  outline: 0;
}

.llamalogo-nav {
  display: none;
}

.show {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 5% 0 0;
  animation: fadeInAnimation ease 3s forwards;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.llamalogo img {
  margin-right: 14%;
  max-width: 80%;
}


.llamalogo {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
 @keyframes fadeInAnimation {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
 }

.main {
  margin: 0;
  padding: 20px;
}

.main {
  animation: fadeInAnimation ease 5s forwards;
}
@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.main-out {
  animation: fadeOutAnimation ease 1s forwards;
}
@keyframes fadeOutAnimation {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

 /****** REVIEWS ******/

 #reviews{
  background: url('../img/llama-snow-mountains.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
 }

 #reviews .content-wrapper{
  max-width: 80%;
 }

 #reviews h4{
  background-color: #6099b7;
  width: 95%;
  padding: 1em;
  font-size: 1.4em;
  text-align: left;
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 /****** PORTFOLIO ******/

#portfolio{
 background-color: #6099b7;
}

.web-items-container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.web-items-top{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
}

.web-items-top figure {
  max-width: 90%;
  padding-top: 2em;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.web-items-top article {
  width: 90%;
}

.web-items{
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 90%;
}

.web-items figure {
  width: 90%;
  padding-top: 2em;
}

.web-items figure img {
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.web-items article {
  max-width: 80%;
}

/****** ABOUT PAGE******/

#aboutme{
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #aboutme .content-wrapper{
  max-width: 80%;
  padding: 6%;
  margin: 0;
 }
 #aboutme h1{
   color: #6099b7;
   padding: 0 0 5% 0;
   margin: 0;
 }

 #aboutme h4{
  background-color: #6099b7;
  width: 95%;
  padding: 1em;
  font-size: 1.4em;
  text-align: left;
  margin-top: 0;
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

#about {
  background: url('../img/llama-snow-mountains.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 12rem;
  width: 100%;
}

#about h2 {
  padding: 2rem 0;
  width: 85%;
}

.about-items {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 100%;
}

.about-items figure {
  padding: 1em 0;
  width: 60%;
  filter: drop-shadow(5px 5px 5px 5px rgba(0, 0, 0, 0.2));
}

 #about-items {
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.thank-you-section {
  background: url('../img/llama-snow-mountains.jpg');
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thankyou-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thankyou-items article h2 {
  text-align: center;
}

#envelope {
  padding: 0 !important;
  margin: 0;
  width: 100%;
  font-size: 20rem;
  color: #fff;
}

#envelope a{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 10rem;
  color: #fff;
}

#envelope a:hover {
  color: #6099b7;
}

#square {
  border-radius: 50%;
}

.about-items article {
  width: 100%;
}

.about-items article a {
  color:#6099b7;
}

.about-items article a:hover{
  color: rgb(145, 143, 143);
}

/****** CONTACT FOOTER******/

#contact {
  background-color: #6099b7;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.contact {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding-bottom: 1%;
  width: 100%;
}

.contact a{
  max-width: 100%;
}

.contact i {
  background-color: #6099b7;
  border-color: #6099b7;
  border-radius: 100%;
  border-style: solid;
  border-width: thick;
  color: #fff;
	font-size: 2em;
}

.contact i:hover {
  background-color: #fff;
  border-color: #fff;
  color: #6099b7;
}

#contact p {
  color: #fff;
  font-family: 'Berkshire Swash', serif;
  padding: .3em 0;
}

/**********DESIGN PAGE**********/

 #designs{
  background-color: #6099b7;
 }
 
 #designs h2 {
   text-align: center;
   padding-top: 5px;
   padding-bottom: 0px;
   margin-bottom: 0;
   color:#fff;
 }
 
 .design-items-top{
   align-items: center;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   max-width: 90%;
 }
 
 .design-items-top figure {
   max-width: 80%;
   padding-top: 2em;
 }
 
 .design-items-top figure img {
   border-radius: .5em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .design-items-top article {
   max-width: 80%;
 }

 .design-items-container {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-flow: row wrap;
 }
 
 .design-items{
   align-items: center;
   display: flex;
   flex-flow: column;
   justify-content: center;
   max-width: 90%;
 }
 
 .design-items figure {
   max-width: 80%;
   padding-top: 2em;
 }
 
 .design-items figure img {
   border-radius: .5em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .design-items article {
   max-width: 80%;
 }
 
 .design-items-wide {
   align-items: center;
   display: flex;
   flex-flow: column;
   justify-content: center;
   max-width: 90%;
 }
 
 .design-items-wide figure {
   max-width: 80%;
   padding-top: 2em;
 }
 
 .design-items-wide figure img {
   border-radius: .5em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .design-items-wide article {
   max-width: 80%;
 }
 
 .design-items-logo {
   align-items: center;
   display: flex;
   flex-flow: column;
   justify-content: center;
   max-width: 90%;
 }
 
 .design-items-logo figure {
   max-width: 80%;
   padding-top: 2em;
 }
 
 .design-items-logo figure img {
   -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
   filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.19));
 }
 
 .design-items-logo article {
   max-width: 80%;
 }
 
 .design-items-illustration {
   align-items: center;
   display: flex;
   flex-flow: column;
   justify-content: center;
   max-width: 90%;
 }
 
 .design-items-illustration figure {
   max-width: 80%;
   padding-top: 2em;
 }
 
 .design-items-illustration figure img {
   border-radius: .5em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .design-items-illustration article {
   max-width: 80%;
 }
 
 .design-items-illustration article a {
   color: #fff;
 }
 
 .design-items-illustration article a:hover {
   color:#205856
 }

 /******CONTACT FORM******/
 .contact-form {
  background-color: #6099b7;
  width: 100%;
  margin: 20% 0 0 0;
  padding: 0;
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-description {
  text-align: left;
  padding: 5% 8%;
  margin: 0;
}

.contact-description h1{
  padding: 0;
  margin: 5%;
  text-align: center;
}

.contact-description p {
  text-align: left;
  font-size: 1.2rem;
  padding-top: 0;
}

.contact-box {
  background-color: #fff;
  margin: 5% 8% 5% 8%;
  padding: 0;
  color: #6099b7;
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-box h5{
 padding: 10% 5%;
}

form {
  background-color: #fff;
  margin: 0;
  padding: 5%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6099b7;
  opacity: 1; /* Firefox */
  text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6099b7;
  text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #6099b7;
  text-align: center;
}

input[type=text] {
  color: #6099b7;
  width: 80%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  padding: 15px 0;
  margin: 10px 0;
}

input.input-field-name {
  margin-right: 2%;
  color:#6099b7;
  text-align: center;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
}

input.input-field {
  color:#6099b7;
  text-align: center;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
}

input[type=email] {
  color: #6099b7;
  width: 80%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  padding: 15px 0;
  margin: 10px 0;
}

input.input-field-email {
  margin-right: 2%;
  color:#6099b7;
  text-align: center;
}

input[type=tel] {
  color: #6099b7;
  width: 80%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  padding: 15px 0;
  margin: 10px 0;
}


/*------Submit Button ------*/

form.submit-button {
  margin: 0;
  padding: 0;
}

input[type=submit] {
  margin: 0 0 3% 0;
  padding: 10px;
  width: 80%;
  border-style:none;
  background-color: transparent;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  color: #6099b7;
  cursor: pointer;
  font-family: 'berkshire swash', sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  border-color: #6099b7;
  box-shadow: 0 0 1.2em 1.2em #6099b7 inset, 0 0 0 0 #6099b7;
  color: #fff;
  transition: all 150ms ease-in-out;
  }
  

input[type=submit]:hover { 
  color: #6099b7;
  outline: 0;
  box-shadow: 0 0 .5em 0 #6099b7 inset, 0 0 .8em .3em #6099b7;
  color: #6099b7;
  outline: 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (min-width: 600px) {
 /* For tablets: */

 /* Global Styles*/

 h1 {
   font-size: 1.8rem;
   padding-top: 1.5em;
 }

 h2 {
   text-align: left;
   color: #6099b7;
 }

 h4 {
   font-size: 1.2rem;
 }

 p {
   font-size: 1rem;
 }

 /* Header */

 header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 12rem;
 }

 nav {
   align-self: center;
   display: flex;
   flex-flow: row;
   justify-content: center;
   max-width: 100%;
   padding: 1em;
   order: 1;
 }

 nav ul {
   align-items: center;
   list-style-type:none;
   margin: 0;
   padding: 0;
 }

 nav li {
   list-style: none;
   margin: 0;
   padding: .5em;
 }

.btn {
  border-radius: 0.8em;
  font-size: 1.5rem;
  margin: 0em;
  padding: .3em .7em;
}

.second {
  padding: .3em 1.2em;
}

 .main {
 width: 80%;
 padding: 3em 0;
 order: 2;
 }

 .main h2 {
   display: flex;
   justify-content: center;
   text-align: center;
 }


/****** PORTFOLIO ******/

#portfolio .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.web-items-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 1em 0;
}

.web-items-top figure {
  max-width: 45%;
}

.web-items-top article {
  max-width: 45%;
}

.web-items-top article h4{
  text-align: left;
  width: 100%;
}

.web-items-top article p{
  text-align: left;
}

.web-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  max-width: 45%;
}

.web-items figure {
  max-width: 100%;
}

.web-items img {
  max-width:90%;
  height: 180px;
}

.web-items article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 85%;
  padding: 0;
  margin: 0;
}

/****** ABOUT ******/

#envelope {
  padding: 0 !important;
  margin: 0;
  width: 100%;
  font-size: 20rem;
  color: #fff;
  align-self: center;
}

#envelope a{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 10rem;
  color: #fff;
}

#envelope a:hover {
  color: #6099b7;
}

.about-items figure {
  max-width: 30%;
  padding-top: 10%;
}

#square {
  border-radius: 50%;
}

.about-items {
  width: 100%;
}

.about-items article {
  width: 100%;
}

.about-items article h2 {
  text-align: center;
  width: 100%;
}

/****** CONTACT ******/

footer .content-wrapper {
  width: 70%;
}

.contact {
  max-width: 70%;
  padding: 2em;
}

.contact a{
  max-width: 20%;
  padding: 1em;
  margin: 0;
}

.contact i {
  font-size: 3rem;
}

/**********DESIGNS PAGE TABLET**********/

#designs .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#designs h1 {
  text-align: center;
  width: 100%;
}

#designs h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.design-items-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 1em 0;
}

.design-items-top figure {
  max-width: 45%;
}

.design-items-top article {
  max-width: 45%;
}

.design-items-top article h4{
  text-align: left;
  width: 100%;
}

.design-items-top article p{
  text-align: left;
}

.design-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  max-width: 45%;
}

.design-items figure {
  max-width: 100%;
}

.design-items img {
  max-width:90%;
  height: 180px;
}

.design-items article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 85%;
  padding: 0;
  margin: 0;
}

.design-items-wide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  max-width: 45%;
}

.design-items-wide figure {
  max-width: 100%;
}

.design-items-wide img {
  max-width:90%;
  height: 180px;
}

.design-items-wide article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 85%;
  padding: 0;
  margin: 0;
}

.design-items-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 0;
  margin: 0;
  max-width: 45%;
}

.design-items-logo figure {
  max-width: 100%;
}

.design-items-logo img {
  max-width:90%;
  height: 180px;
}

.design-items-logo article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 85%;
  padding: 0;
  margin: 0;
}

.design-items-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 0;
  margin: 0;
  max-width: 50%;
}

.design-items-illustration figure {
  max-width: 100%;
}

.design-items-illustration img {
  max-width:100%;
  height: 180px;
}

.design-items-illustration article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  max-width: 60%;
  padding: 0;
  margin: 0;
}


}

/***********************************************************************/

@media only screen and (min-width: 1200px) {
/* For desktop: */

/* Global Styles*/

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}

/* Header */

header {
  background: url('../img/llama-snow-mountains.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}

header img {
  width: 50%;
  order: 1;
}

.nav {
  width: 100%;
}

nav {
  /* align-self: flex-start; */
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 100%;
  padding: 1em 3em 0 0;
  margin: 0;
  order: 2;
}

nav ul {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.show {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  width: 100%
}

nav ul li {
  padding: .8em;
}

.sticky {
  position: fixed;
  background: rgb(252,252,252);
  background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(252,252,252,0.5046393557422969) 50%, rgba(252,252,252,0.5046393557422969) 100%);
  padding: 0;
  margin: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sticky img{
  width: 20%;
  padding: .3em 0 0 2em;
}

.sticky .nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.sticky nav {
  padding: 0;
}
.sticky .btn {
  font-size: .9rem;
}

.btn {
  border-radius: 0.8em;
  font-size: 1.3rem;
  margin: .7em;
  padding: .6em .7em;
}

.first {
  padding: .2em .8em;
}

.second {
  padding: .2em 1.3em;
}

.third {
  padding: .2em 1.1em;
}

.fourth {
  padding: .2em 1.1em;
}

.llamalogo {
 display: flex;
 justify-content: flex-start;
 margin: 0 auto 0 0;
 padding: 20px 10%;
 width: 80%;
}

.llamalogo {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


.main {
  width: 100%;
  padding: 50px 0 8% 0;
  margin: 0;
}



/****** REVIEWS ******/

#reviews{
  background: url('../img/llama-snow-mountains.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 20%;
 }

 #reviews .content-wrapper {
  padding-bottom: 8%;
 }

 #reviews h4{
  background-color: #6099b7;
  width: 60%;
  padding: 3em;
  font-size: 1.8em;
  text-align: left;
 }


/****** PORTFOLIO ******/

#portfolio {
  padding-bottom: 8em;
}

.web-items-container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
}

.web-items-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 4em 12em 8em 12em;
  max-width: 80%;
}

.web-items-top figure {
  max-width: 50%;
}

.web-items-top article {
  max-width: 50%;
}

.web-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  text-align: center;
  padding: 0 2em;
  max-width: 25%;
}

.web-items figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 100%;
  display: flex;
  opacity: 1;
}

.web-items figure:hover {
  opacity: 0.5;
}

.web-items img {
  max-width:100%;
  height: 200px;
}

.web-items article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1em;
}

/******ABOUT PAGE******/

#aboutme {
  background: url('../img/llama-snow-mountains.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}

#aboutme h1 {
  color: #fff;
  padding-bottom: 10%;
}

#aboutme h4 {
  width: 75%;
  padding: 5% 3%;
}

#about {
  background: url('../img/llama-snow-mountains.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  padding: 15% 0 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .content-wrapper {
  padding-bottom: 0;
  border-radius: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgb(252,252,252);
  background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(252,252,252,0.5046393557422969) 50%, rgba(252,252,252,0.5046393557422969) 100%);
  width: 80%;
}

.about-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 4em 0;
}

.about-items figure {
  width: 50%;
  padding-left: 6em;
  padding-top: 0;
}

#envelope a{
  font-size: 20rem;
  color: #fff;
}

#envelope a:hover {
  color: #6099b7;
}

#square {
  border-radius: .5em;
}

.about-items article {
  width: 50%;
  padding-right: 12em;
  padding: 0;
  margin: 0;
}

.about-items article h2 {
  text-align: justify;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.thank-you-section {
  background: url('../img/llama-snow-mountains.jpg');
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 /****** CONTACT ******/

footer .content-wrapper {
  width: 70%;
}

.contact {
  justify-content: space-between;
  padding: 4em 0;
}

.contact a{
  width: 100%;
}

.contact i {
  font-size: 5em;
 }

/**********DESIGNS PAGE DESKTOP**********/

#designs {
  padding: 0 0 8em 0;
}

#designs h1 {
  padding-top: 20px;
  color: #fff;
}

#designs h2 {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #fff;
}

.design-items-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
  max-width: 80%;
}

.design-items-top figure {
  max-width: 43%;
}

.design-items-top article {
  max-width: 45%;
}

.design-items-top img {
  border-radius: 0.5;
  opacity: 1;
}

.design-items-top figure:hover {
  opacity: 0.5;
}

.design-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  text-align: center;
  padding: 0 2em;
  max-width: 25%;
}

.design-items figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 100%;
  display: flex;
  opacity: 1;
  padding-top: 3em;
}

.design-items figure:hover {
  opacity: 0.5;
}

.design-items img {
  max-width:100%;
  height: 500px;
}

.design-items article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1em;
}

.design-items article h4 {
  font-size: 1.5rem;
}

.design-items-wide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  text-align: center;
  padding: 0 2em;
  max-width: 25%;
}

.design-items-wide figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 100%;
  display: flex;
  opacity: 1;
  padding-top: 8em;
}

.design-items-wide figure:hover {
  opacity: 0.5;
}

.design-items-wide img {
  max-width:100%;
  height: 250px;
}

.design-items-wide article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 2em;
}

.design-items-wide article h4 {
  font-size: 1.5rem;
}

.design-items-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  text-align: center;
  padding: 0 2em;
  max-width: 25%;
}

.design-items-logo figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 100%;
}

.design-items-logo figure:hover {
  opacity: 0.5;
}

.design-items-logo img {
  max-width:100%;
  height: 250px;
}

.design-items-logo article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 2em;
}

.design-items-logo article h4 {
  font-size: 1.5rem;
}

.design-items-illustration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  text-align: center;
  padding: 0;
  max-width: 40%;
}

.design-items-illustration figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  max-width: 100%;
  opacity: 1;
}

.design-items-illustration figure:hover {
  opacity: 0.5;
}

.design-items-illustration img {
  max-width:90%;
  height: auto;
}

.design-items-illustration article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 2em;
}

.design-items-illustration article h4 {
  font-size: 1.5rem;
}

/**********CONTACT FORM**********/

.contact-form {
  padding: 0 0 8em 0;
  margin: 0 0 8em 0;
}


/******CONTACT FORM******/
.contact-form {
  background-color: #6099b7;
  width: 70%;
  margin: 7% 2% 10% 2%;
  padding: 0 1% 1% 1%;
}

.contact-description {
  text-align: left;
  padding: 2% 10%;
  margin: 0;
}

.contact-description h1{
  padding: 0;
  margin: 1%;
  text-align: center;
}

.contact-description p {
  text-align: left;
  font-size: 1.2rem;
}

.contact-box {
  background-color: #fff;
  margin: 2% 10% 3% 10%;
  padding: 0;
  color: #6099b7;
}

.contact-box h5{
 padding-bottom: 30px;
 padding-top: 0;
}

form {
  background-color: #fff;
  margin: 0;
  padding: 5%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6099b7;
  opacity: 1; /* Firefox */
  text-indent: 5%;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6099b7;
  text-indent: 5%;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #6099b7;
  text-indent: 5%;
}

input[type=text] {
  color: #6099b7;
  width: 48%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  padding: 15px 0;
  margin: 10px 0;
}

input.input-field-name {
  margin-right: 2%;
  color:#6099b7;
  text-indent: 5%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
}

input.input-field {
  color:#6099b7;
  text-indent: 5%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
}

input[type=email] {
  color: #6099b7;
  width: 48%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  padding: 15px 0;
  margin: 10px 0;
}

input.input-field-email {
  margin-right: 2%;
  color:#6099b7;
  text-indent: 5%;
}

input[type=tel] {
  color: #6099b7;
  width: 48%;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  padding: 15px 0;
  margin: 10px 0;
}


/*------Submit Button ------*/

.submit {
  margin-top: 10px;
  padding: 0;
}

input[type=submit] {
  margin: 0 0 3% 0;
  padding: 10px;
  width: 40%;
  border-style:none;
  background-color: transparent;
  border: 1px solid #6099b7;
  border-radius: 0.6em;
  color: #6099b7;
  cursor: pointer;
  font-family: 'berkshire swash', sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  border-color: #6099b7;
  box-shadow: 0 0 1.2em 1.2em #6099b7 inset, 0 0 0 0 #6099b7;
  color: #fff;
  transition: all 150ms ease-in-out;
  }
  

input[type=submit]:hover { 
  color: #6099b7;
  outline: 0;
  box-shadow: 0 0 .5em 0 #6099b7 inset, 0 0 .8em .3em #6099b7;
  color: #6099b7;
  outline: 0;
}




}

   @media print,
          (-webkit-min-device-pixel-ratio: 1.25),
          (min-resolution: 1.25dppx),
          (min-resolution: 120dpi) {
       /* Style adjustments for high resolution devices */
   }


   /* ==========================================================================
      Print styles.
      Inlined to avoid the additional HTTP request:
      http://www.phpied.com/delay-loading-your-print-css/
      ========================================================================== */

   @media print {
       *,
       *:before,
       *:after {
           background: transparent !important;
           color: #000 !important; /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
           box-shadow: none !important;
           text-shadow: none !important;
       }

       a,
       a:visited {
           text-decoration: underline;
       }

       a[href]:after {
           content: " (" attr(href) ")";
       }

       abbr[title]:after {
           content: " (" attr(title) ")";
       }

       /*
        * Don't show links that are fragment identifiers,
        * or use the `javascript:` pseudo protocol
        */

       a[href^="#"]:after,
       a[href^="javascript:"]:after {
           content: "";
       }

       pre,
       blockquote {
           border: 1px solid #999;
           page-break-inside: avoid;
       }

       /*
        * Printing Tables:
        * http://css-discuss.incutio.com/wiki/Printing_Tables
        */

       thead {
           display: table-header-group;
       }

       tr,
       img {
           page-break-inside: avoid;
       }

       img {
           max-width: 100% !important;
       }

       p,
       h2,
       h3 {
           orphans: 3;
           widows: 3;
       }

       h2,
       h3 {
           page-break-after: avoid;
       }
   }
